﻿@{
    ViewBag.Title = "Home Page";
    var culture = ViewBag.Culture;
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<select id="cultureSelect">
    @switch (culture)
    {
        case "tr":
            <option value="tr" selected>TR</option>
            <option value="en">ENG</option>
            break;
        case "en":
            <option value="tr">TR</option>
            <option value="en" selected>ENG</option>
            break;
        default:
            <option value="tr" selected>TR</option>
            <option value="en">ENG</option>
            break;
    }
</select>

<div class="row">
    <input type="file" name="fileUplaod" id="fileUpload" />
    <button id="btnUpload" class="btn btn-success">Dosya Yükle</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">@NaynGag.Resources.HomeTexts.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">@NaynGag.Resources.HomeTexts.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">@NaynGag.Resources.HomeTexts.LearnMore &raquo;</a></p>
    </div>
</div>



<script type="text/javascript">
    $("#cultureSelect").change(function () {
        var culture = $("#cultureSelect").val();
        window.location.href = "/Home/ChangeCurrentCulture?lang=" + culture;
    });


    $('#btnUpload').click(function () {

        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            //fileData.append('username', 'Manas');

            $.ajax({
                url: '/File/Upload',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

</script>